{
  "extends": "eslint-config-google",
  "parserOptions": {
        "ecmaVersion": 2017
    },
  "rules": {
    "max-len": [2, 150, 4, {"ignoreUrls": true}],
    "camelcase": "off",
    "require-jsdoc": "off",
    "async/missing-await-in-async-fn": 1
    }
}
